.registercontainer {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register {
    border: 2px red dotted;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 20rem; 
    height: 32rem;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.45);
    background-color: white;
    padding: 2rem;
}

.register form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.buttoncontainer {
    padding-inline: 4rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.registercontainer p {
    color: red;
}