.modalbackground {
    height: 100vh;
    width: 100vw;
    background-color: rgba(200, 200, 200, 0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalcontainer {
    margin-top: -8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 38rem;
    width: 30rem;
    background-color: white;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.45);
    border-radius: 16px;
}

.modalcontainer img {
    margin-top: 4rem;
    border-radius: 24px;
    height: 180px;
    width: 180px;
}

.closeicon {
    align-self: flex-end;
    margin-right: 2rem;
    cursor: pointer;
    font-size: 2rem;
    z-index: 9998;
}

.modalcontainer h2 {
    margin-top: 1rem;
}

.quantityselectorcontainer
{
    margin-top: -1rem;
}

.pricecontainer {
    margin-top: -2rem;
}

@media only screen and (min-width: 992px) {
    .modalcontainer {
        height: 28rem;
        width: 20rem;
        margin-top: -4rem;
    }

    .modalcontainer img  {
        margin-top: 1rem;
        height: 160px;
        width: 160px;
    }

    .modalcontainer h1 {
        font-size: 20px;
    }

    .pricecontainer {
        font-size: 10px;
    }

    .closeicon {
        font-size: 1.5rem;
        margin-left: 0.4rem;
        margin-top: -2rem;
    }
}

@media screen and (max-width: 768px) {
    .modalcontainer {
        height: 100vh;
        width: 100vw;
    }

    .closeicon {
        display: flex;
        align-self: flex-end;
        margin-top: -6rem;
        margin-bottom: 2rem;
        margin-right: 2rem;
    }

}

