.button {
    font-size: var(--font-size);
    width: calc(var(--font-size) * 6);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    background-color: #FFA07A;
    color: white;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
