.button {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 50px;
    border-radius: 150px;
    background-color: #FFA07A;
    color: white;
    font-weight: bold;
}