.container h1 {
    font-family: 'Burnest', sans-serif;
    font-size: 64px;
    color: #FFA07A;
}

.container p {
    font-size: 18px;
    color: #414241;
}

.container {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.text {
    margin-bottom: 14rem;
    width: 32%;
}

.heroimage {
    border-radius: 50%;
    height: 600px;
    width: 600px;
}

.mobilebuttoncontainer {
    display: none;
}

.desktopbuttoncontainer {
    width: 246px;
    margin-top: 6rem;
}

@media screen and (max-width: 1200px) {

    .container {
        margin-top: 2rem;
    }

    .container h1 {
        font-size: 44px;
    }

    p {
        font-size: 8px;;
    }

    .heroimage {
        height: 460px;
        width: 460px;
    }

    .text {
        margin-top: 6rem;
        width: 30%;
        margin-bottom: 10rem;
    }

}

@media screen and (max-width: 992px)
{
    
    .container h1 {
        font-size: 36px;
    }

    .container p {
        font-size: 18px;
    }

    .heroimage {
        height: 420px;
        width: 420px;
    }

    .text {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: -4rem;
        gap: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heroimage {
        margin-top: -6rem;
        height: 320px;
        width: 320px;
    }
    .container h1 {
        font-size: 52px;
    }

    .container p {
        font-size: 14px;
    }

    .text {
        text-align: center;
        margin-bottom: 10%;
        width: 100%;
    }

    .mobilebuttoncontainer {
        display: flex;
        margin-bottom: 2rem;
    }

    .desktopbuttoncontainer {
        display: none;
    }
}

