.text h1 {
    font-family: 'Burnest', sans-serif;
    font-size: 4rem;
    color: #FFA07A;
}

.text p {
    font-size: 1rem;
    color: #414241;
}

.container {
    padding: 4rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.text {
    margin-bottom: 14rem;
    max-width: 40%
}

.heroimage {
    margin-top: -4rem;
    border-radius: 50%;
    width: 32rem;
}

.mobilebuttoncontainer {
    display: none;
}

.desktopbuttoncontainer {
    width: 246px;
    margin-top: 6rem;
}
