.text h1 {
    font-family: 'Burnest', sans-serif;
    font-size: 4rem;
    color: #FFA07A;
}

.text p {
    font-size: 1rem;
    color: #414241;
}

.container {
    padding: 4rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.text {
    margin-bottom: 14rem;
}

.heroimage {
    margin-top: -4rem;
    border-radius: 50%;
    width: 32rem;
}

.mobilebuttoncontainer {
    display: none;
}

.desktopbuttoncontainer {
    margin-top: 6rem;
}

@media only screen and (max-width: 1200px) {

    .heroimage {
        width: 24rem;
    }
    
    .text h1 {
        font-size: 3rem;
    }

    .text p {
        font-size: 0.8rem
    }
}

@media only screen and (max-width: 992px) {
    
    .heroimage {
        margin-top: -12rem;
        width: 20rem;
    }

    .text h1 {
        font-size: 2rem;
    }

    .text p {
        font-size: 0.8rem
    }

    .text {
        min-width: 50%;
    }

}

@media only screen and (max-width: 768px) {
    .container {
        margin-top: -4rem;
        gap: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heroimage {
        margin-top: -6rem;
        height: 320px;
        width: 320px;
    }
    .container h1 {
        font-size: 52px;
    }

    .container p {
        font-size: 14px;
    }

    .text {
        text-align: center;
        margin-bottom: 10%;
        width: 100%;
    }

    .mobilebuttoncontainer {
        display: flex;
        margin-bottom: 2rem;
    }

    .desktopbuttoncontainer {
        display: none;
    }
}
