body {
   overflow: auto;
}

.navbar img {
   height: 80px;
   width: 80px;
   margin-left: 2rem;
   z-index: 100;
   user-select: none;
}

 .navbar li {
    font-size: 1.5rem;
    height: 100%;
    cursor: pointer;
    user-select: none;
 }

 a {
    text-decoration: none;
    color: #414241;
    font-family: 'Burnest', sans-serif;
 }

 .navcontainer {
   top: 0;
   position: sticky;
 }

.navbar {

   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5rem;
   z-index: 11000 ;
   background-color: #EEECE9;
   box-shadow: 1px 1px 20px grey;
}

.navlinks {
   display: flex;
   margin-right: 5rem;
   gap: 8rem;
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
 }

 .mobilenav {
   display: none;
 }

 .iconcontainer {
   display: flex;
   gap: 1rem;
 }

 .hamburger {
   display: none;
   align-items: center;
   cursor: pointer;
 }

 .hamburgericon {
   height: 32px;
   width: 32px;
   margin-top: -4px;
   color: #414241;
 }

 .cart {
   position: relative;
   margin-right: 3rem;
   display: flex;
   align-items: center;
   color: #414241;
 }

 .carticon {
   height: 40px;
   width: 40px;
 }

 .cartitemcount {
   border: 1px #414241 solid;
   border-radius: 60px;
   height: 18px;
   width: 18px;
   color: white;
   font-size: 14px;
   text-align: center;
   background-color: #FFA07A;
   position: absolute;
   top: -20%;
   right: -20%;
 }

 @media screen and (max-width: 1200px)
 {
   .navbar {
      height: 60px;
   }

   .navbar img {
      margin-left: 1rem; 
      height: 60px;
      width: 60px;
   }

   .navbar li {
      font-size: 1.2rem;
   }

   .carticon {
      height: 32px;
      width: 32px;
    }
 }

 @media screen and (max-width: 768px) {

   .mobilenav {
      font-size: 2rem;
      gap: 8rem;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      background: white;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

   .navlinks {
      display: none;
   }

   .navbar img {
      margin-left: 0; 
      height: 60px;
      width: 60px;
   }

   ul {
      margin: 0;
      padding: 0;
   }

   li {
      margin: 0;
      padding: 0;
   }

   .navbar {
      position: relative;
      height: 60px;
      z-index: 9999;
   }

   .cart {
      margin-top: -2px;
      margin-right: 1rem;
    }

   li {
      height: 3rem;
   }

   .hamburger {
      display: flex;
   }   

   body {
      overflow: hidden;
   }

 }
