img {
   height: 116px;
   width: 116px;
   margin-left: 2rem;
   z-index: 100;
   user-select: none;
}

 li {
    font-size: 1.5rem;
    height: 100%;
    cursor: pointer;
    user-select: none;
 }

 a {
    text-decoration: none;
    color: #414241;
    font-family: 'Burnest', sans-serif;
 }

.navbar {
   height: 120px;
   display: flex;
   justify-content: space-between;
   padding: 0.5rem;
   z-index: 10;
   position: sticky;
}

.navmenu {
   margin-right: 2rem;
   gap: 4rem;
   margin-top: 2.5rem;
   display: flex;
   align-items: center;
   list-style: none;
 }

 .mobileicons {
   margin-top: 2.5rem;
   display: none;
   list-style: none;
   gap: 2rem;
 }

 .notvisible {
   display:
 }

 .hamburgermenu {
   height: 32px;
   width: 32px;
   color: #414241;
 }

 .cart {
   display: flex;
   align-items: center;
 }

 .carticon {
   height: 40px;
   width: 40px;
   margin-top: -4px;
 }

 @media screen and (max-width: 768px) {

   img {
      height: 100px;
      width: 100px;
   }

   .navbar {
      height: 100px;
   }

   .navmenu, .cart {
      display: none;
   }

   .mobileicons {
      display: flex;
      z-index: 100;
   }

   .mobilemenu {
      list-style: none;
      position: absolute;
      top: 130%;
      display: flex;
      flex-direction: column;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
   }

   ul li {
      padding: 32px;
      width: 100%;
   }
   
 }
