.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    text-align: center;
    font-size: 40px;
}

.container h2 {
    margin-top: 4rem;
    text-align: center;
    color: #414241;
}

.productlist {
    gap: 8rem;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 992px) {
    .productlist {
        gap: 6rem;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px)
{
    .productlist {
        grid-template-columns: repeat(1, 1fr);
    }
}