@font-face {
  font-family: 'Burnest';
  src: url('fonts/Burnest.otf');
}

* {

  font-family: 'Burnest';
}


body {
  background-color: #EEECE9;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.active {
  color: #FFA07A;
}

.app {
  margin-left: auto;
  margin-right: auto;
}

#root {
  min-width: 100px;
}