@font-face {
  font-family: 'Burnest';
  src: url('fonts/Burnest.otf');
}


* {
  background-color: #EEECE9;
}

body {
  margin: 0;
  padding: 0;
}

.active {
  color: #FFA07A;
}

.wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}